:root {
  --color-primary: #28a0e5;
  --color-primary-light: #82caff;
  --color-success: #2e7d32;
  --color-error: #e53935;
  --color-body: #ffffff;
  --color-text: #000000;
  --color-border: #cccccc;
  --color-header-bg: #f7f7f7;
}
